html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Geologica, sans-serif;
    max-width: 1140px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    }