@import 'normalize.css';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    font-family: Geologica;
    background-color: rgb(255, 255, 255);
    color: black;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1151px;
    margin: 0 auto;
}

.container-header-container{
    display: flex;
    align-items: flex-end
}


.languages-container {
    display: inline-flex;
    margin-top: 30px;
    margin-right: 18px;
}

.languages {
    border: none;
    width: 25px;
    height: 23px;
    margin-left: 27px;

    font-family: 'Geologica';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    background: none;
}

.languages:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.languages.active {
    text-decoration: underline;
}

.menu-box {
    margin: 0px 47px;
}

.menu {
    border: none;
    background: none;
}

.block-1-2 {
    max-width: 867px;
    margin: 85px auto;
}


.title {
    color: rgb(29, 29, 27);
    font-size: 67px;
    text-align: left;
    text-transform: uppercase;
    line-height: 89px;
    font-weight: 900;
    margin-top: 80px;
    margin-bottom: 30px;
}

.description {
    padding-top: 5px;
    padding-left: 10px;
    color: rgb(193, 81, 145);
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 30px;
}
.image_project img{
    width: 867px;
    height: 360px;
    left: 0;
    top: 0;
}
