
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    width: 100%;
    max-width: 1140px;
    transition: transform .2s linear;
}

.open {
    display: flex !important;
}

.header.hide {
    transform: translateY(-100px);
}

.mini-logo {
    margin-top: 40px;
    margin-left: 55px;
}

.mini-logo img {
    width: 100px;
}

.right-side-container {
    margin-right: 55px;
    display: flex;
    align-items: flex-end;
}

.languages-container {
    display: inline-flex;
    margin-top: 30px;
    margin-right: 62px;
}

.languages {
    border: none;
    background: none;
    margin-left: 27px;
    cursor: pointer;

    font-weight: 300;
    font-size: 20px;
}

.languages:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.languages.active {
    text-decoration: underline;
}

.burger {
    display: flex;
    z-index: 50;
    flex-wrap: wrap;
    align-items: center;
    width: 35px;
    height: 25px;
    cursor: pointer;
}

.first-line, .second-line {
    position: relative;
    height: 3px;
    width: 35px;
    background: black;
    transition: all 0.4s ease 0s;
}

.first-line.active {
    transform: rotate(-45deg) translateX(-25%);
}

.second-line.active {
    transform: rotate(45deg) translateX(-25%);
}

.nav {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 5%;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 50%;
    flex-direction: column;
    background: white;
    animation: burgerAnimation 0.4s;
}

.link {
    display: flex;
}

@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}