
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    width: 100%;
    max-width: 1140px;
    transition: transform .2s linear;
}

.header.hide {
    transform: translateY(-100px);
}

.mini-logo {
    margin-top: 40px;
    margin-left: 55px;
}

.mini-logo img {
    width: 110px;
    height: 40px;
}

.right-side-container {
    margin-right: 55px;
    display: flex;
    align-items: flex-end;
}

.languages-container {
    display: inline-flex;
    margin-top: 30px;
    margin-right: 62px;
}

.languages {
    border: none;
    background: none;
    margin-left: 27px;
    cursor: pointer;

    font-weight: 300;
    font-size: 20px;
}

.languages:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.languages.active {
    text-decoration: underline;
}

.burger {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 35px;
    height: 25px;
}

.burger span{
    height: 3px;
    width: 35px;
    background: black;
}

.nav {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 5%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 50%;
    flex-direction: column;
    background: white;
}

.link {
    display: flex;
}
