@import 'fonts.css';
@import 'header.css';
@import 'footer.css';
@import 'default.css';
@import 'detail.css';


.block-1-1 {
    background-image: url("../Background main screen.svg");
    text-align: center;
    flex-direction: column;
}

.block-1-1 img {
    margin-top: 150px;
}

.block-1-1 p {
    margin-top: 50px;
    font-size: 19px;
}
