<!DOCTYPE html>

{% load i18n %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.name }}</title>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container-header-container">

            <div class="languages-container">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <form method="post" action="{% url 'set_language' %}">
                        {% csrf_token %}
                        <input type="hidden" name="language" value="{{ language.code }}">
                        <button class="languages" href="ru">{{ language.code.upper }}</button>
                    </form>
                {% endfor %}
            </div>
            <div class="menu-box">
                <button class="menu" href="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="18" fill="none"><path fill="#1D1D1B" d="M36 16.2c0 .47-.16.93-.44 1.27-.29.34-.67.53-1.06.53h-33c-.4 0-.78-.19-1.07-.53-.28-.34-.43-.8-.43-1.27 0-.48.15-.94.43-1.28.29-.34.67-.52 1.07-.52h33c.39 0 .77.18 1.06.52.28.34.44.8.44 1.28ZM1.5 3.59h33c.39 0 .77-.18 1.06-.52.28-.34.44-.8.44-1.27 0-.48-.16-.94-.44-1.28C35.27.18 34.89 0 34.5 0h-33C1.1 0 .72.18.43.52.15.86 0 1.32 0 1.8c0 .47.15.93.43 1.27.29.34.67.52 1.07.52Z"/></svg>
                </button>
            </div>
        </div>
    </header>
    <div class="block-1-2">

        <div class="title">
            {{ project.name }}
        </div>
        <div class="description">
            {{ project.description }}
        </div>
        <div class="image_project">
            <img src='{{ project.image_project.url }}'>
        </div>

    </div>




<h2>{% trans 'О ПРОЕКТЕ:' %}</h2>
{{ project.title_block_description }}
<br>
<img src='{{ project.image_block_one.url }}'>
<br>
{{ project.block_description_two }}
<br>
<img src='{{ project.image_block_two.url }}'>
<h2>{% trans 'РЕАЛИЗАЦИЯ' %}</h2>
{{ project.implementation }}
<br>
<img src='{{ project.implementation.content_picture.url }}'>
<!--    <div>-->
<!--        {% for gallery in galleries %}-->
<!--            <p> {% trans 'Заголовок:' %} {{ gallery.title }} </p>-->
<!--            <p> {% trans 'Текст статьи:' %}  {{ gallery.content_text }} </p>-->
<!--            <p> {% trans 'Публикуется:' %} {{ gallery.is_published }} </p>-->
<!--            <p> {% trans 'Картинка:' %} <img src='{{ gallery.content_picture.url }}' width="100"></p>-->
<!--            <p> {% trans 'Контент:' %} {{ gallery.content }} </p>-->
<!--        {% endfor %}-->
<!--    </div>-->

</body>
</html>