<!DOCTYPE html>

{% load i18n %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.name }}</title>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container header-container">
            <div class="container-language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <form method="post" action="{% url 'set_language' %}">
                        {% csrf_token %}
                        <input type="hidden" name="language" value="{{ language.code }}">
                        <button class="{{ language.code }}" href="ru">{{ language.code.upper }}</button>
                    </form>
                {% endfor %}
            </div>
            <div>
                <button class="menu" href="menu">суета</button>
            </div>
        </div>
    </header>
    <div class="block-1-2">

        <div class="title">
            {{ project.name }}
        </div>
        <div class="description">
            {{ project.description }}
        </div>
        <div class="image_project">
            <img src='{{ project.image_project.url }}'>
        </div>

    </div>



<h2>{% trans 'О ПРОЕКТЕ:' %}</h2>
{{ project.title_block_description }}
<br>
<img src='{{ project.image_block_one.url }}'>
<br>
{{ project.block_description_two }}
<br>
<img src='{{ project.image_block_two.url }}'>
<h2>{% trans 'РЕАЛИЗАЦИЯ' %}</h2>
{{ project.implementation }}
<br>
<img src='{{ project.implementation.content_picture.url }}'>
<!--    <div>-->
<!--        {% for gallery in galleries %}-->
<!--            <p> {% trans 'Заголовок:' %} {{ gallery.title }} </p>-->
<!--            <p> {% trans 'Текст статьи:' %}  {{ gallery.content_text }} </p>-->
<!--            <p> {% trans 'Публикуется:' %} {{ gallery.is_published }} </p>-->
<!--            <p> {% trans 'Картинка:' %} <img src='{{ gallery.content_picture.url }}' width="100"></p>-->
<!--            <p> {% trans 'Контент:' %} {{ gallery.content }} </p>-->
<!--        {% endfor %}-->
<!--    </div>-->

</body>
</html>