<!DOCTYPE html>

{% load i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="locale">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <div style="display: inline-block">  <!-- Стиль добавил только для демонстрации во время теста-->
                <form method="post" action="{% url 'set_language' %}">
                    {% csrf_token %}
                    <input type="hidden" name="language" value="{{ language.code }}">
                    <button type="submit">{{ language.code.upper }}</button>
                </form>
            </div>
        {% endfor %}
    </div>


    <div class="test">
        {% for unit in units %}
            <p> {% trans 'Автор:' %} {{ unit.user }} </p>
            <p> {% trans 'Заголовок:' %} {{ unit.title }} </p>
            <p> {% trans 'Текст статьи:' %}  {{ unit.content_text }} </p>
            <p> {% trans 'Публикуется:' %} {{ unit.is_published }} </p>
            <p> {% trans 'Картинка:' %} <img src='{{ unit.content_picture.url }}' width="100"></p>
            <p> {% trans 'Контент:' %} {{ unit.content }} </p>
            <p>
        {% endfor %}
    </div>

</body>
</html>