.start {
    margin: 221px 400px;
}

.start .logo {
    width: 633px;
    height: 250px;
    left: 403px;
    right: 404px;
    top: 190px;
    bottom: 814px;
}

.start .logo svg {
    width: 633px;
    height: 250px;
    left: 403px;
    right: 404px;
    top: 190px;
    bottom: 814px;
}

.start .logo use {
    width: 633px;
    height: 250px;
    left: 403px;
    right: 404px;
    top: 190px;
    bottom: 814px;
}

.start .art-lab {
    position: absolute;
    margin: 0px 0px;
    width: 670px;
    height: 30px;
    color: rgb(29, 29, 27);
    font-family: Geologica;
    font-size: 15px;
    font-weight: 100;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.start #shape {
    /* Стилизация фигуры */
    position: absolute;
    width: 1077px;
    height: 400px;
    left: 182px;
    right: 181px;
    top: 730px;
    bottom: 132px;
    border-radius: 225px;
}
   
.start #video {
    /* Стилизация видео */
    position: absolute;
    width: 1077px;
    height: 400px;
    left: 182px;
    right: 181px;
    top: 730px;
    bottom: 132px;
    border-radius: 225px;
    }

.about {
    position: absolute;
    width: 1440px;
    height: 825px;
    left: 0;
    right: 0;
    top: 1262px;
}

.about h1 {
    position: absolute;
    width: 163px;
    height: 63px;
    left: 753px;
    right: 524px;
    top: 110px;
    bottom: 652px;
}

.about p {
    position: absolute;
    width: 520px;
    height: 325px;
    left: 753px;
    right: 167px;
    top: 260px;
    bottom: 240px;
    color: rgb(29, 29, 27);
    font-family: Geologica;
    font-size: 30px;
    font-weight: 250;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.about .animation_1 {
    position: absolute;
    width: 410px;
    height: 398px;
    left: 183px;
    right: 847px;
    top: 224px;
    bottom: 203px;
}

.projects {
    position: absolute;
    width: 1440px;
    height: 1099px;
    left: 0;
    right: 0;
    top: 2087px;
    bottom: 4221px
}

.projects h1 {
    position: absolute;
    width: 956px;
    height: 50px;
    left: 242px;
    right: 242px;
    top: 106px;
    bottom: 943px;
    color: rgb(17, 17, 17);
    font-family: Geologica;
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.projects .container-diving {
    position: absolute;
    width: 412px;
    height: 650px;
    left: 12px;
    right: 1016px;
    top: 293px;
    bottom: 156px;
    border-radius: 30px;
}

.projects .container-diving h1 {
    width: 265px;
    height: 56px;
    left: 45px;
    right: 102px;
    top: 552px;
    bottom: 42px;
}

.projects .container-questions {
    position: absolute;
    width: 412px;
    height: 650px;
    left: 490px;
    right: 538px;
    top: 293px;
    bottom: 156px;
    border-radius: 30px;
}

.projects .container-questions h1 {
    position: absolute;
    width: 356px;
    height: 92px;
    left: 45px;
    right: 11px;
    top: 552px;
    bottom: 6px;
}

.projects .container-cartel {
    position: absolute;
    width: 412px;
    height: 650px;
    left: 968px;
    right: 60px;
    top: 293px;
    bottom: 156px;
    border-radius: 30px;
}

.projects .container-cartel h1 {
    position: absolute;
    width: 237px;
    height: 56px;
    left: 45px;
    right: 130px;
    top: 552px;
    bottom: 42px;
}

.author {
    position: absolute;
    width: 1440px;
    height: 1080px;
    left: 0;
    right: 0;
    top: 3186px;
    bottom: 3141px;
}

.author h1 {
    position: absolute;
    width: 1077px;
    height: 213px;
    left: 182px;
    right: 181px;
    top: 150px;
    bottom: 591px;
    font-family: Geologica;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
}

.author .animation_2 {
    position: absolute;
    width: 1078px;
    height: 400px;
    left: 182px;
    right: 180px;
    top: 427px;
    bottom: 127px;
    border-radius: 227px;
    background: rgba(193, 81, 145, 0.5);
}

.author .animation_2 p {
    position: absolute;
    width: 951px;
    height: 156px;
    left: 95px;
    top: 115px;
    color: rgb(255, 255, 255);
    font-family: Geologica;
    font-size: 38px;
    font-weight: 300;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: left;
}

.team {
    position: absolute;
    width: 1440px;
    height: 1033px;
    left: -1px;
    right: 1px;
    top: 4266px;
    bottom: 2108px;
}

.team h1 {
    position: absolute;
    width: 412px;
    height: 63px;
    left: 514px;
    right: 514px;
    top: 100px;
    bottom: 885px;
    color: rgb(29, 29, 27);
    font-family: Geologica;
    font-size: 50px;
    font-weight: 900;
    line-height: 63px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.team .container-scroll {
    position: absolute;
    width: 1332px;
    height: 650px;
    left: 70px;
    right: 38px;
    top: 270px;
    bottom: 128px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.team .container-scroll .page_1 {
    position: static;
    width: 412px;
    height: 650px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 32px;
    border-radius: 30px;
    background: url();
}

.team .container-scroll .page_2 {
    position: static;
    width: 412px;
    height: 650px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 32px;
    border-radius: 30px;
    background: url();
}

.team .container-scroll .page_3 {
    position: static;
    width: 412px;
    height: 650px;
    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 32px;
    border-radius: 30px;
    background: url();
}

.team .container-scroll .page_4 {
    position: static;
    width: 412px;
    height: 650px;
    /* Inside Auto Layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 32px;
    border-radius: 30px;
    background: url();
}

.team .container-scroll .page_5 {
    position: static;
    width: 412px;
    height: 650px;
    /* Inside Auto Layout */
    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 32px;
    border-radius: 30px;
    background: url();
}

.team .container-scroll .page_6 {
    position: static;
    width: 412px;
    height: 650px;
    /* Inside Auto Layout */
    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 0px 32px;
    border-radius: 30px;
    background: url();
}

.team .container-scroll .page_7 {
    position: static;
    width: 412px;
    height: 650px;
    /* Inside Auto Layout */
    flex: none;
    order: 6;
    flex-grow: 0;
    margin: 0px 32px;
    border-radius: 30px;
    background: url();
}

.team .container-scroll .page_8 {
    position: static;
    width: 412px;
    height: 650px;
    /* Inside Auto Layout */
    flex: none;
    order: 7;
    flex-grow: 0;
    margin: 0px 32px;
    border-radius: 30px;
    background: url();
}

.team .container-scroll .page_9 {
    position: static;
    width: 412px;
    height: 650px;
    /* Inside Auto Layout */
    flex: none;
    order: 8;
    flex-grow: 0;
    margin: 0px 32px;
    border-radius: 30px;
    background: url();
}

.idea {
    position: absolute;
    width: 1440px;
    height: 968px;
    left: 0;
    right: 0;
    top: 5279px;
    bottom: 1160px;
}

.idea .animation_3 {
    position: absolute;
    width: 1440px;
    height: 1000px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.idea .animation_3 h1 {
    position: absolute;
    width: 948px;
    height: 147px;
    left: 246px;
    right: 246px;
    top: 300px;
    bottom: 538px;
    color: rgb(193, 81, 145);
    font-family: Geologica;
    font-size: 150px;
    font-weight: 250;
    line-height: 188px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.idea .animation_3 button.connect {
    position: absolute;
    width: 700px;
    height: 218px;
    left: 383px;
    top: 600px;
    box-sizing: border-box;
    /* Secondary/Pink */
    border: 4px solid rgb(193, 81, 145);
    border-radius: 240px;
    background: rgb(255, 255, 255);
    color: rgb(193, 81, 145);
    font-family: Geologica;
    font-size: 62px;
    font-weight: 250;
    line-height: 78px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.idea .container-web {
    position: absolute;
    width: 255px;
    height: 39px;
    left: 592px;
    right: 593px;
    top: 860px;
    bottom: 49px;
    color: rgb(17, 17, 17);
    font-family: Geologica;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}

.contacts {
    position: absolute;
    width: 1440px;
    height: 1103px;
    top: 6247px;
    /* Inside Auto Layout */
    flex: none;
    order: 6;
    flex-grow: 0;
    margin: 0px 0px;
}

.contacts .contact {
    position: absolute;
    width: 299px;
    height: 63px;
    left: 570px;
    right: 571px;
    top: 100px;
    bottom: 940px;
}

.contacts .email-phone {
    position: absolute;
    width: 1300px;
    height: 55px;
    left: 70px;
    right: 70px;
    top: 921px;
    bottom: 127px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
}

.contacts .email-phone .send_mail {
    position: static;
    width: 392px;
    height: 35px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px 980px 10px 0px;
}

.contacts .email-phone a {
    position: static;
    width: 249px;
    height: 35px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 80px 10px 0px;
}

.contacts .social {
    position: absolute;
    width: 1440px;
    height: 650px;
    left: 0.07%;
    right: -0.07%;
    top: 50px;
    bottom: 725px;
}

.contacts .social .inst {
    position: absolute;
    width: 1440px;
    height: 130px;
    left: 0.07%;
    right: -0.07%;
    top: 248px;
    bottom: 725px;
    box-sizing: border-box;
    border-top: 2px solid rgb(0, 0, 0);
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 2px 0px 2px;
}

.contacts .social .fb {
    position: absolute;
    width: 1438px;
    height: 130px;
    left: 1px;
    right: 1px;
    top: 375px;
    bottom: 598px;
    box-sizing: border-box;
    border-top: 3px solid rgb(29, 29, 27);
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 2px 0px 2px;
}

.contacts .social .tg {
    position: absolute;
    width: 1440px;
    height: 130px;
    left: 0;
    right: 0;
    top: 508px;
    bottom: 465px;
    box-sizing: border-box;
    border-top: 3px solid rgb(29, 29, 27);
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 2px 0px 2px;
}

.contacts .social .yt {

    position: absolute;
    width: 1440px;
    height: 130px;
    left: 2px;
    right: -2px;
    top: 638px;
    bottom: 335px;
    box-sizing: border-box;
    border-top: 3px solid rgb(29, 29, 27);
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 2px 0px 2px;
}

.contacts .social .wa {
    position: absolute;
    width: 1440px;
    height: 130px;
    left: 0;
    right: 0;
    top: 768px;
    bottom: 205px;
    box-sizing: border-box;
    border-top: 3px solid rgb(29, 29, 27);
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 2px 0px 2px;
}
