*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
}
main{
    height: 100vh;
    background-color: rgb(29, 27, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: rgb(255, 255, 255);
    width: clamp(700px, 75%, 300%);
    height: auto;
    padding: 28px 35px;
    overflow: hidden;
    border-radius: 13px;
    transition: 1.1s ease-out;
}
.search-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(29, 27, 48);
    position: relative;
}
.search-box input{
    color: rgb(29, 27, 48);
    width: 80%;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 32px;
}
.search-box input::placeholder{
    color: rgb(29, 27, 48);
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
.search-box button{
    cursor: pointer;
    width: 100px;
    height: 50px;
    background-color: beige;
    border-radius: 5%;
    font-size: 22px;
}
.search-box button{
    color: aqua;
    background-color: rgb(29, 27, 48);
