/* 5 */
position: absolute;
width: 1440px;
height: 954px;
left: 0;
top: 3152px;

/* Primary/Absolutely white */
background: rgb(255, 255, 255);

/* Авторство теряется и приумаляется в угоду большего - нового, рожденного синтезом общих вложений. Творчество «для другого». */
position: absolute;
width: 951px;
height: 156px;
left: 246px;
top: 526px;

color: rgb(255, 255, 255);
font-family: Geologica;
font-size: 38px;
font-weight: 300;
line-height: 52px;
letter-spacing: 0%;
text-align: left;

/* Rectangle 139 */
position: absolute;
width: 400px;
height: 400px;
left: 183px;
top: 404px;

border-radius: 227px;

/* Secondary/Pink */
background: rgb(193, 81, 145);

/* Rectangle 136 */
position: absolute;
width: 1078px;
height: 400px;
left: 183px;
top: 404px;

border-radius: 227px;

background: rgba(193, 81, 145, 0.5);

/* Vector */
position: absolute;
width: 14px;
height: 14px;
left: 976px;
top: 166.7px;

/* Secondary/Pink */
background: rgb(193, 81, 145);

/* Vector */
position: absolute;
width: 15px;
height: 15px;
left: 841px;
top: 166.7px;

/* Secondary/Green */
background: rgb(25, 143, 118);

/* Vector */
position: absolute;
width: 36px;
height: 36px;
left: 647px;
top: 162.42px;

/* Secondary/Pink */
background: rgb(193, 81, 145);

/* В лаборатории ТОЧКИ ЗРЕНИЯ каждый участник художественного проекта — АВТОР   */
position: absolute;
width: 1077px;
height: 213px;
left: 182px;
top: 150px;

/* Primary/Black */
color: rgb(29, 29, 27);
font-family: Geologica;
font-size: 48px;
font-weight: 600;
line-height: 60px;
letter-spacing: 0%;
text-align: center;

/* Background 5 block */
position: absolute;
width: 1440px;
height: 954px;
left: 0;
top: 0;

/* Primary/Absolutely white */
background: rgb(255, 255, 255);

/* Vector */
position: absolute;
width: 893px;
height: 342.18px;
left: 261px;
top: 491.98px;

filter: blur(300px);
background: rgb(255, 255, 255);

/* Vector */
position: absolute;
width: 899px;
height: 446.4px;
left: 243px;
top: 45.38px;

filter: blur(200px);
background: rgb(255, 255, 255);

/* Vector */
position: absolute;
width: 775.22px;
height: 994.21px;
left: 718.22px;
top: -22.08px;
transform: rotate(180.00deg);

filter: blur(400px);
/* Background Blue extra light */
background: rgb(228, 236, 247);

/* Vector */
position: absolute;
width: 631.74px;
height: 920.1px;
left: 860px;
top: 68.59px;

filter: blur(400px);
/* Background Blue extra light */
background: rgb(228, 236, 247);

/* Vector */
position: absolute;
width: 1322.25px;
height: 571.82px;
left: 104px;
top: 0;

filter: blur(600px);
background: rgb(193, 81, 145);

