<style>
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400&display=swap)</style>


/* Main screen 1-2 */
position: absolute;
width: 1440px;
height: 1254px;
left: 0;
top: 0;

background: rgb(255, 255, 255);

/* шары */
position: absolute;
width: 1077px;
height: 541.53px;
left: 91px;
right: 272px;
top: 148px;
bottom: 564.47px;

/* Ellipse 213 */
position: absolute;
width: 94.98px;
height: 94.98px;
left: 186.53px;
right: 795.48px;
top: 688.98px;
bottom: -242.43px;
transform: rotate(179.67deg);

box-shadow: inset -12.2px 12.2px 12.2px 0px rgba(255, 255, 255, 0.14),inset 12.2px -12.2px 12.2px 0px rgba(39, 106, 186, 0.14);
backdrop-filter: blur(11.71px);
background: rgba(52, 140, 245, 0.09);

/* Ellipse 212 */
position: absolute;
width: 224.68px;
height: 224.68px;
left: 448.98px;
right: 403.34px;
top: 509.68px;
bottom: -192.82px;
transform: rotate(179.67deg);

box-shadow: inset -12.2px 12.2px 12.2px 0px rgba(255, 255, 255, 0.14),inset 12.2px -12.2px 12.2px 0px rgba(39, 106, 186, 0.14);
backdrop-filter: blur(11.71px);
background: rgba(52, 140, 245, 0.09);

/* Rectangle 142 */
position: absolute;
width: 181px;
height: 181px;
left: 987px;
right: -91px;
top: 254px;
bottom: 106.53px;

border-radius: 101.5px;

box-shadow: inset -2.48px 2.48px 2.48px 0px rgba(154, 65, 116, 0.3),inset -1.24px 1.24px 1.24px 0px rgba(255, 255, 255, 0.3),inset 2.48px -2.48px 2.48px 0px rgba(255, 255, 255, 0.3),inset 1.24px -1.24px 1.24px 0px rgba(154, 65, 116, 0.3);
backdrop-filter: blur(14.02px);
background: rgba(193, 81, 145, 0.05);

/* Rectangle 135 */
position: absolute;
width: 93.07px;
height: 93.07px;
left: 783px;
right: 200.93px;
top: 148px;
bottom: 300.46px;

border-radius: 101.5px;

box-shadow: inset -2.48px 2.48px 2.48px 0px rgba(154, 65, 116, 0.3),inset -1.24px 1.24px 1.24px 0px rgba(255, 255, 255, 0.3),inset 2.48px -2.48px 2.48px 0px rgba(255, 255, 255, 0.3),inset 1.24px -1.24px 1.24px 0px rgba(154, 65, 116, 0.3);
backdrop-filter: blur(14.02px);
background: rgba(193, 81, 145, 0.05);

/* Component 4 */
position: absolute;
width: 1300px;
height: 50px;
left: 70px;
right: 70px;
top: 40px;
bottom: 1164px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

/* logo 2 */
position: static;
width: 120px;
height: 50px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 898px;

/* Слой 2 */
position: absolute;
width: 120px;
height: 50.01px;
left: 0%;
right: 0%;
top: 0%;
bottom: -0.02%;

/* Слой 6 */
position: absolute;
width: 120px;
height: 50.01px;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Vector */
position: absolute;
width: 8.27px;
height: 8.3px;
left: 89.07%;
right: 4.04%;
top: 66.98%;
bottom: 16.42%;

/* Secondary/Pink */
background: rgb(193, 81, 145);

/* Vector */
position: absolute;
width: 8.27px;
height: 8.3px;
left: 20.54%;
right: 72.57%;
top: 67.81%;
bottom: 15.6%;

/* Secondary/Pink */
background: rgb(193, 81, 145);

/* Vector */
position: absolute;
width: 18.71px;
height: 18.56px;
left: 84.41%;
right: 0%;
top: 61.58%;
bottom: 1.3%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 18.66px;
height: 18.5px;
left: 67.24%;
right: 17.21%;
top: 61.7%;
bottom: 1.3%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 18.9px;
height: 18.5px;
left: 49.32%;
right: 34.93%;
top: 61.7%;
bottom: 1.3%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 15.66px;
height: 18.5px;
left: 33.96%;
right: 52.99%;
top: 61.7%;
bottom: 1.3%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 18.19px;
height: 18.48px;
left: 16.92%;
right: 67.92%;
top: 61.69%;
bottom: 1.36%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 17.29px;
height: 19.78px;
left: 0.44%;
right: 85.15%;
top: 60.45%;
bottom: 0%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 18.66px;
height: 18.5px;
left: 69.86%;
right: 14.59%;
top: 2.56%;
bottom: 60.46%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 19.09px;
height: 18.5px;
left: 52.5%;
right: 31.59%;
top: 2.56%;
bottom: 60.46%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 18.31px;
height: 18.5px;
left: 34.95%;
right: 49.79%;
top: 2.56%;
bottom: 60.46%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 17.4px;
height: 18.5px;
left: 0%;
right: 85.5%;
top: 2.56%;
bottom: 60.46%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 21.02px;
height: 21.14px;
left: 15.44%;
right: 67.04%;
top: 0%;
bottom: 57.73%;

/* Secondary/Pink */
background: rgb(193, 81, 145);

/* Frame 47662 */
position: static;
width: 282px;
height: 50px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 898px;

/* language */
position: static;
width: 156px;
height: 32px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 86px;

/* ru */
position: static;
width: 34px;
height: 32px;
/* Автолейаут */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 28px;

/* RU */
position: static;
width: 34px;
height: 30px;
/* Автолейаут */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 2px 0px;

color: rgb(0, 0, 0);
font-family: Geologica;
font-size: 24px;
font-weight: 300;
line-height: 30px;
letter-spacing: 0%;
text-align: center;

/* Line 15 */
position: static;
width: 34px;
height: 0;
/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 2px 0px;

border: 2px solid rgb(0, 0, 0);

/* EU */
position: static;
width: 34px;
height: 30px;
/* Автолейаут */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 28px;

color: rgb(0, 0, 0);
font-family: Geologica;
font-size: 24px;
font-weight: 300;
line-height: 30px;
letter-spacing: 0%;
text-align: center;

/* Line 15 */
position: static;
width: 34px;
height: 0;
/* Inside Auto Layout */
flex: none;
order: undefined;
flex-grow: 0;
margin: 2px 0px;

border: 2px solid rgb(0, 0, 0);
visibility: hidden;

/* FR */
position: static;
width: 34px;
height: 30px;
/* Автолейаут */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 28px;

/* FR */
position: static;
width: 34px;
height: 30px;
/* Автолейаут */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 2px 0px;

color: rgb(0, 0, 0);
font-family: Geologica;
font-size: 24px;
font-weight: 300;
line-height: 30px;
letter-spacing: 0%;
text-align: center;

/* Line 15 */
position: static;
width: 34px;
height: 0;
/* Inside Auto Layout */
flex: none;
order: undefined;
flex-grow: 0;
margin: 2px 0px;

border: 2px solid rgb(0, 0, 0);
visibility: hidden;

/* Frame 47689 */
position: static;
width: 40px;
height: 40px;
/* Автолейаут */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 86px;

/* Vector */
position: static;
width: 36px;
height: 18px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;

background: rgb(17, 17, 17);

/* Subtitle */
position: absolute;
width: 631px;
height: 43px;
left: 405px;
top: 490px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;

/* Арт-лаборатория, открывающая искусство по-новому */
position: static;
width: 611px;
height: 23px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;

/* Contacts Hover */

color: rgb(53, 53, 51);
font-family: Geologica;
font-size: 22px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: left;

/* logo 1 */
position: absolute;
width: 633px;
height: 250px;
left: 403px;
right: 404px;
top: 190px;
bottom: 814px;

/* Слой 2 */
position: absolute;
width: 633px;
height: 250.05px;
left: 0%;
right: 0%;
top: 0%;
bottom: -0.02%;

/* Слой 6 */
position: absolute;
width: 633px;
height: 250.05px;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Vector */
position: absolute;
width: 43.6px;
height: 41.51px;
left: 89.07%;
right: 4.04%;
top: 66.97%;
bottom: 16.42%;

/* Secondary/Pink */
background: rgb(193, 81, 145);

/* Vector */
position: absolute;
width: 43.6px;
height: 41.51px;
left: 20.55%;
right: 72.57%;
top: 67.8%;
bottom: 15.6%;

/* Secondary/Pink */
background: rgb(193, 81, 145);

/* Vector */
position: absolute;
width: 98.69px;
height: 92.81px;
left: 84.41%;
right: 0%;
top: 61.58%;
bottom: 1.31%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 98.43px;
height: 92.52px;
left: 67.24%;
right: 17.21%;
top: 61.69%;
bottom: 1.31%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 99.69px;
height: 92.52px;
left: 49.32%;
right: 34.94%;
top: 61.69%;
bottom: 1.31%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 82.62px;
height: 92.52px;
left: 33.96%;
right: 52.99%;
top: 61.69%;
bottom: 1.31%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 95.97px;
height: 92.38px;
left: 16.93%;
right: 67.91%;
top: 61.69%;
bottom: 1.36%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 91.18px;
height: 98.91px;
left: 0.45%;
right: 85.15%;
top: 60.44%;
bottom: 0%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 98.43px;
height: 92.48px;
left: 69.86%;
right: 14.59%;
top: 2.56%;
bottom: 60.46%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 100.7px;
height: 92.48px;
left: 52.5%;
right: 31.59%;
top: 2.56%;
bottom: 60.46%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 96.57px;
height: 92.48px;
left: 34.95%;
right: 49.79%;
top: 2.56%;
bottom: 60.46%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 91.79px;
height: 92.48px;
left: 0%;
right: 85.5%;
top: 2.56%;
bottom: 60.46%;

/* Primary/Black */
background: rgb(29, 29, 27);

/* Vector */
position: absolute;
width: 110.87px;
height: 105.69px;
left: 15.44%;
right: 67.05%;
top: 0%;
bottom: 57.73%;

/* Secondary/Pink */
background: rgb(193, 81, 145);

/* Rectangle 139 */
position: absolute;
width: 450px;
height: 450px;
left: 809px;
top: 623px;

border-radius: 237px;

/* Secondary/Pink */
background: rgb(193, 81, 145);

/* Rectangle 141 */
position: absolute;
width: 1078px;
height: 450px;
left: 179px;
top: 623px;

border-radius: 268px;

background: rgba(193, 81, 145, 0.5);

/* Background main screen */
position: absolute;
width: 1440px;
height: 1254px;
left: 0;
top: 0;

background: rgb(255, 255, 255);

/* Vector */
position: absolute;
width: 893px;
height: 449.78px;
left: 261px;
top: 646.69px;

filter: blur(300px);
background: rgb(255, 255, 255);

/* Vector */
position: absolute;
width: 630px;
height: 524.4px;
left: 400px;
top: 122.29px;

filter: blur(300px);
background: rgb(255, 255, 255);

/* Vector */
position: absolute;
width: 775.22px;
height: 1306.85px;
left: 718.22px;
top: -29.02px;
transform: rotate(180.00deg);

filter: blur(400px);
/* Background Blue extra light */
background: rgb(228, 236, 247);

/* Vector */
position: absolute;
width: 631.74px;
height: 1209.44px;
left: 860px;
top: 90.16px;

filter: blur(400px);
/* Background Blue extra light */
background: rgb(228, 236, 247);

/* Vector */
position: absolute;
width: 1322.25px;
height: 751.64px;
left: 219px;
top: -255.98px;

filter: blur(700px);
background: rgb(193, 81, 145);



